    <style>
        @charset "utf-8";
        /*-- 手机页面样式 --*/

        body,
        div,
        dl,
        dt,
        dd,
        ul,
        ol,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        pre,
        code,
        form,
        fieldset,
        legend,
        input,
        textarea,
        p,
        blockquote,
        th,
        td,
        hr,
        button,
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            margin: 0;
            padding: 0
        }

        .no-scroll {
            position: fixed;
            left: 0;
            right: 0;
        }

        body {
            font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", Roboto, sans-serif;
            -webkit-text-size-adjust: none;
            background-color: #fff;
            font-size: 0.32rem;
            color: #828282;
            line-height: 0.48rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 100%;
            font-weight: normal;
            line-height: 1.25;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            outline-width: 0;
            color: inherit;
        }

        a:hover {
            text-decoration: none;
            outline: 0;
            color: #1d2088;
        }

        em,
        b,
        i,
        code,
        strong {
            font-style: normal;
        }

        img {
            border: 0;
            vertical-align: top;
        }

        ol,
        ul,
        li {
            list-style: none
        }

        .clearfix:after,
        .clf:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: '.';
            clear: both;
            height: 0
        }

        .clearfix,
        .clf {
            zoom: 1;
        }

        button,
        input,
        textarea,
        select {
            border: none;
            outline: none;
            border-radius: 0;
            box-sizing: content-box;
            border: 0;
            font-size: 0.32rem;
            color: #828282;
            line-height: 0.48rem;
            font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, sans-serif, "PingFang SC", "Microsoft Yahei", "Heiti SC";
        }

        textarea {
            resize: none;
        }
    </style>

    <style>
        /**
            * Swiper 3.4.2
            * Most modern mobile touch slider and framework with hardware accelerated transitions
            * 
            * http://www.idangero.us/swiper/
            * 
            * Copyright 2017, Vladimir Kharlampidi
            * The iDangero.us
            * http://www.idangero.us/
            * 
            * Licensed under MIT
            * 
            * Released on: March 10, 2017
            */

        .swiper-container {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            z-index: 1
        }

        .swiper-container-no-flexbox .swiper-slide {
            float: left
        }

        .swiper-container-vertical>.swiper-wrapper {
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column
        }

        .swiper-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            -o-transition-property: -o-transform;
            -ms-transition-property: -ms-transform;
            transition-property: transform;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box
        }

        .swiper-container-android .swiper-slide,
        .swiper-wrapper {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -o-transform: translate(0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }

        .swiper-container-multirow>.swiper-wrapper {
            -webkit-box-lines: multiple;
            -moz-box-lines: multiple;
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap
        }

        .swiper-container-free-mode>.swiper-wrapper {
            -webkit-transition-timing-function: ease-out;
            -moz-transition-timing-function: ease-out;
            -ms-transition-timing-function: ease-out;
            -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            margin: 0 auto
        }

        .swiper-slide {
            -webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative
        }

        .swiper-container-autoheight,
        .swiper-container-autoheight .swiper-slide {
            height: auto
        }

        .swiper-container-autoheight .swiper-wrapper {
            -webkit-box-align: start;
            -ms-flex-align: start;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            -webkit-transition-property: -webkit-transform, height;
            -moz-transition-property: -moz-transform;
            -o-transition-property: -o-transform;
            -ms-transition-property: -ms-transform;
            transition-property: transform, height
        }

        .swiper-container .swiper-notification {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            opacity: 0;
            z-index: -1000
        }

        .swiper-wp8-horizontal {
            -ms-touch-action: pan-y;
            touch-action: pan-y
        }

        .swiper-wp8-vertical {
            -ms-touch-action: pan-x;
            touch-action: pan-x
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            width: 27px;
            height: 44px;
            margin-top: -22px;
            z-index: 10;
            cursor: pointer;
            -moz-background-size: 27px 44px;
            -webkit-background-size: 27px 44px;
            background-size: 27px 44px;
            background-position: center;
            background-repeat: no-repeat
        }

        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            opacity: .35;
            cursor: auto;
            pointer-events: none
        }

        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
            left: 10px;
            right: auto
        }

        .swiper-button-prev.swiper-button-black,
        .swiper-container-rtl .swiper-button-next.swiper-button-black {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
        }

        .swiper-button-prev.swiper-button-white,
        .swiper-container-rtl .swiper-button-next.swiper-button-white {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
        }

        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
            right: 10px;
            left: auto
        }

        .swiper-button-next.swiper-button-black,
        .swiper-container-rtl .swiper-button-prev.swiper-button-black {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
        }

        .swiper-button-next.swiper-button-white,
        .swiper-container-rtl .swiper-button-prev.swiper-button-white {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
        }

        .swiper-pagination {
            position: absolute;
            text-align: center;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            z-index: 10
        }

        .swiper-pagination.swiper-pagination-hidden {
            opacity: 0
        }

        .swiper-container-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 10px;
            left: 0;
            width: 100%
        }

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            display: inline-block;
            border-radius: 100%;
            background: #000;
            opacity: .2
        }

        button.swiper-pagination-bullet {
            border: none;
            margin: 0;
            padding: 0;
            box-shadow: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;
            appearance: none
        }

        .swiper-pagination-clickable .swiper-pagination-bullet {
            cursor: pointer
        }

        .swiper-pagination-white .swiper-pagination-bullet {
            background: #fff
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
            background: #007aff
        }

        .swiper-pagination-white .swiper-pagination-bullet-active {
            background: #fff
        }

        .swiper-pagination-black .swiper-pagination-bullet-active {
            background: #000
        }

        .swiper-container-vertical>.swiper-pagination-bullets {
            right: 10px;
            top: 50%;
            -webkit-transform: translate3d(0, -50%, 0);
            -moz-transform: translate3d(0, -50%, 0);
            -o-transform: translate(0, -50%);
            -ms-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0)
        }

        .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 5px 0;
            display: block
        }

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 5px
        }

        .swiper-pagination-progress {
            background: rgba(0, 0, 0, .25);
            position: absolute
        }

        .swiper-pagination-progress .swiper-pagination-progressbar {
            background: #007aff;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: left top;
            -moz-transform-origin: left top;
            -ms-transform-origin: left top;
            -o-transform-origin: left top;
            transform-origin: left top
        }

        .swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
            -webkit-transform-origin: right top;
            -moz-transform-origin: right top;
            -ms-transform-origin: right top;
            -o-transform-origin: right top;
            transform-origin: right top
        }

        .swiper-container-horizontal>.swiper-pagination-progress {
            width: 100%;
            height: 4px;
            left: 0;
            top: 0
        }

        .swiper-container-vertical>.swiper-pagination-progress {
            width: 4px;
            height: 100%;
            left: 0;
            top: 0
        }

        .swiper-pagination-progress.swiper-pagination-white {
            background: rgba(255, 255, 255, .5)
        }

        .swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
            background: #fff
        }

        .swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
            background: #000
        }

        .swiper-container-3d {
            -webkit-perspective: 1200px;
            -moz-perspective: 1200px;
            -o-perspective: 1200px;
            perspective: 1200px
        }

        .swiper-container-3d .swiper-cube-shadow,
        .swiper-container-3d .swiper-slide,
        .swiper-container-3d .swiper-slide-shadow-bottom,
        .swiper-container-3d .swiper-slide-shadow-left,
        .swiper-container-3d .swiper-slide-shadow-right,
        .swiper-container-3d .swiper-slide-shadow-top,
        .swiper-container-3d .swiper-wrapper {
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d
        }

        .swiper-container-3d .swiper-slide-shadow-bottom,
        .swiper-container-3d .swiper-slide-shadow-left,
        .swiper-container-3d .swiper-slide-shadow-right,
        .swiper-container-3d .swiper-slide-shadow-top {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 10
        }

        .swiper-container-3d .swiper-slide-shadow-left {
            background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
            background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: -o-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
        }

        .swiper-container-3d .swiper-slide-shadow-right {
            background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
        }

        .swiper-container-3d .swiper-slide-shadow-top {
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
            background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
        }

        .swiper-container-3d .swiper-slide-shadow-bottom {
            background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: -o-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
        }

        .swiper-container-coverflow .swiper-wrapper,
        .swiper-container-flip .swiper-wrapper {
            -ms-perspective: 1200px
        }

        .swiper-container-cube,
        .swiper-container-flip {
            overflow: visible
        }

        .swiper-container-cube .swiper-slide,
        .swiper-container-flip .swiper-slide {
            pointer-events: none;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            z-index: 1
        }

        .swiper-container-cube .swiper-slide .swiper-slide,
        .swiper-container-flip .swiper-slide .swiper-slide {
            pointer-events: none
        }

        .swiper-container-cube .swiper-slide-active,
        .swiper-container-cube .swiper-slide-active .swiper-slide-active,
        .swiper-container-flip .swiper-slide-active,
        .swiper-container-flip .swiper-slide-active .swiper-slide-active {
            pointer-events: auto
        }

        .swiper-container-cube .swiper-slide-shadow-bottom,
        .swiper-container-cube .swiper-slide-shadow-left,
        .swiper-container-cube .swiper-slide-shadow-right,
        .swiper-container-cube .swiper-slide-shadow-top,
        .swiper-container-flip .swiper-slide-shadow-bottom,
        .swiper-container-flip .swiper-slide-shadow-left,
        .swiper-container-flip .swiper-slide-shadow-right,
        .swiper-container-flip .swiper-slide-shadow-top {
            z-index: 0;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden
        }

        .swiper-container-cube .swiper-slide {
            visibility: hidden;
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            width: 100%;
            height: 100%
        }

        .swiper-container-cube.swiper-container-rtl .swiper-slide {
            -webkit-transform-origin: 100% 0;
            -moz-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            transform-origin: 100% 0
        }

        .swiper-container-cube .swiper-slide-active,
        .swiper-container-cube .swiper-slide-next,
        .swiper-container-cube .swiper-slide-next+.swiper-slide,
        .swiper-container-cube .swiper-slide-prev {
            pointer-events: auto;
            visibility: visible
        }

        .swiper-container-cube .swiper-cube-shadow {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .6;
            -webkit-filter: blur(50px);
            filter: blur(50px);
            z-index: 0
        }

        .swiper-container-fade.swiper-container-free-mode .swiper-slide {
            -webkit-transition-timing-function: ease-out;
            -moz-transition-timing-function: ease-out;
            -ms-transition-timing-function: ease-out;
            -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out
        }

        .swiper-container-fade .swiper-slide {
            pointer-events: none;
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            -o-transition-property: opacity;
            transition-property: opacity
        }

        .swiper-container-fade .swiper-slide .swiper-slide {
            pointer-events: none
        }

        .swiper-container-fade .swiper-slide-active,
        .swiper-container-fade .swiper-slide-active .swiper-slide-active {
            pointer-events: auto
        }

        .swiper-zoom-container {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            text-align: center
        }

        .swiper-zoom-container>canvas,
        .swiper-zoom-container>img,
        .swiper-zoom-container>svg {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain
        }

        .swiper-scrollbar {
            border-radius: 10px;
            position: relative;
            -ms-touch-action: none;
            background: rgba(0, 0, 0, .1)
        }

        .swiper-container-horizontal>.swiper-scrollbar {
            position: absolute;
            left: 1%;
            bottom: 3px;
            z-index: 50;
            height: 5px;
            width: 98%
        }

        .swiper-container-vertical>.swiper-scrollbar {
            position: absolute;
            right: 3px;
            top: 1%;
            z-index: 50;
            width: 5px;
            height: 98%
        }

        .swiper-scrollbar-drag {
            height: 100%;
            width: 100%;
            position: relative;
            background: rgba(0, 0, 0, .5);
            border-radius: 10px;
            left: 0;
            top: 0
        }

        .swiper-scrollbar-cursor-drag {
            cursor: move
        }

        .swiper-lazy-preloader {
            width: 42px;
            height: 42px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -21px;
            margin-top: -21px;
            z-index: 10;
            -webkit-transform-origin: 50%;
            -moz-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
            -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
            animation: swiper-preloader-spin 1s steps(12, end) infinite
        }

        .swiper-lazy-preloader:after {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
            background-position: 50%;
            -webkit-background-size: 100%;
            background-size: 100%;
            background-repeat: no-repeat
        }

        .swiper-lazy-preloader-white:after {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
        }

        @-webkit-keyframes swiper-preloader-spin {
            100% {
                -webkit-transform: rotate(360deg)
            }
        }

        @keyframes swiper-preloader-spin {
            100% {
                transform: rotate(360deg)
            }
        }
    </style>
    <style>
        .wsc-Top {
            height: 1rem;
        }

        .wsc-TopCon {
            position: fixed;
            left: 0;
            top: 0;
            height: 1rem;
            width: 6.9rem;
            padding: 0 0.3rem;
            background-color: rgba(0, 0, 0, 0.16);
            z-index: 99999;
        }

        .wsc-TopConfix {
            background-color: rgba(0, 0, 0, 0.8) !important;
        }

        .wsc-Top .right-block {
            float: right;
        }

        .wsc-TopCon .right-block {
            float: right;
        }

        .top-menu {
            float: left;
            height: 1rem;
            width: 0.4rem;
            margin-left: 0.4rem;
            background: url(./index_files/m-top-menu.png) no-repeat center center;
            background-size: 0.4rem auto;
        }

        .top-lan {
            float: left;
            height: 1rem;
            width: 0.4rem;
            background: url(./index_files/m-top-lan.png) no-repeat center center;
            background-size: 0.4rem auto;
        }

        .top-search {
            float: left;
            height: 1rem;
            width: 0.4rem;
            margin-left: 0.4rem;
            background: url(./index_files/m-top-search.png) no-repeat center center;
            background-size: 0.4rem auto;
        }

        .wsc-logo {
            float: left;
            width: 1.51rem;
            height: 0.56rem;
            margin-top: 0.2rem;
        }

        .wsc-logo img {
            width: 100%;
        }

        .top-close {
            height: 1rem;
            float: right;
            width: 0.48rem;
            background: url(./index_files/close.png) no-repeat center center;
            background-size: 0.48rem auto;
        }

        .wsc-hntop .top-close {
            background: url(./index_files/close-white.png) no-repeat center center;
            background-size: 0.48rem auto;
        }

        .wsc-Nav {
            position: fixed;
            right: -7.5rem;
            top: 0;
            background-color: #fff;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease-in-out;
            z-index: 99999;
            overflow-y: scroll;
        }

        .wsc-hntop {
            height: 1rem;
            width: 6.9rem;
            padding: 0 0.3rem;
            background-color: #1d2088;
            position: relative;
            border-bottom: 0.01rem solid #eaeaea;
        }

        .wsc-headNav {
            padding: 0.3rem 0 0;
            overflow-y: scroll;
        }

        .hn-item {
            padding: 0 0.2rem;
        }

        .hn-text {
            height: 0.5rem;
            padding: 0.3rem 0;
            border-bottom: 0.01rem dashed #eaeaea;
            line-height: 0.5rem;
            font-size: 0.32rem;
            color: #555;
        }

        .hn-text span {
            float: right;
            height: 0.5rem;
            width: 0.25rem;
            background: url(./index_files/m-snarr.png) no-repeat right center;
            background-size: 0.25rem auto;
            transition: all 0.3s ease-in-out;
        }

        .rotate180 {
            transform: rotateZ(45deg);
        }

        .wsc-Nav .active {
            background-color: #f5f5f5;
            color: #222;
        }

        .hn-drop {
            padding: 0.15rem 0;
            display: none;
        }

        .hn-drop li a {
            display: block;
            padding: 0.15rem 0 0.15rem 0.3rem;
            font-size: 0.28rem;
            height: 0.5rem;
            line-height: 0.5rem;
            color: #666;
        }

        .lanCont {
            position: fixed;
            left: 0;
            top: 0;
            height: 3rem;
            width: 6.9rem;
            padding: 0 0.3rem;
            z-index: 999999;
            color: #555;
            background-color: #fff;
            display: none;
        }

        .searCont {
            position: fixed;
            left: 0;
            top: 0;
            height: 1rem;
            width: 6.9rem;
            padding: 0 0.3rem;
            z-index: 999999;
            color: #555;
            background-color: #fff;
            display: none;
        }

        .searCont form {
            float: left;
            padding: 0.15rem 0;
        }

        .searCont input {
            font-size: 0.28rem;
            line-height: 0.6rem;
            height: 0.6rem;
            width: 5.68rem;
            border: none;
            outline: none;
            padding: 0.05rem 0.1rem;
            border-radius: 0.02rem;
            color: #555;
            background-color: #f6f6f6;
        }

        .searCont input::placeholder {
            color: #999;
        }

        .lan-list {
            /* display: none; */
        }

        .wsc-foot {
            background-color: #222;
            padding: 0.5rem 0.3rem 0.46rem;
        }

        .wsc-foot a:hover {
            color: #fff;
        }

        .foot-logo {
            text-align: center;
        }

        .foot-logo img {
            width: 2rem;
        }

        .ft-btn {
            margin-top: 0.42rem;
            font-size: 0;
            text-align: center;
        }

        .ft-btn .btn-online {
            margin-top: 0.2rem;
        }

        .btn-em {
            color: #fff;
            border: solid 0.02rem rgba(234, 234, 234, 0.5);
            background-color: rgba(255, 255, 255, 0.1);
        }

        .btn-em span {
            display: inline-block;
            padding-left: 0.62rem;
            background: url(./index_files/m-ft-em.png) no-repeat 0 center;
            background-size: 0.4rem auto;
        }

        .btn-em:hover {
            background-color: #1d2088;
            border-color: #1d2088;
            color: #fff;
        }

        .btn-online {
            color: #fff;
            border: solid 0.02rem #e03b3b;
            background-color: #e03b3b;
        }

        .btn-online span {
            display: inline-block;
            padding-left: 0.6rem;
            background: url(./index_files/m-ft-xx.png) no-repeat 0 center;
            background-size: 0.4rem auto;
        }

        .btn-online:hover {
            background-color: #C41515;
            border-color: #C41515;
            color: #fff;
        }

        .foot-nav {
            margin-top: 0.4rem;
        }

        .fn-text {
            height: 0.88rem;
            overflow: hidden;
            border-bottom: 0.02rem solid rgba(85, 85, 85, 0.2);
        }

        .fn-text a {
            float: left;
            height: 0.88rem;
            line-height: 0.4rem;
            font-size: 0.32rem;
            box-sizing: border-box;
            padding: 0.22rem 0;
            color: #DDDDDD;
        }

        .fn-text span {
            float: right;
            width: 0.66rem;
            height: 0.88rem;
            background: url(./index_files/m-fn-more.png) no-repeat center center;
            background-size: 0.26rem auto;
            transition: 0.36s;
        }

        .fn-list {
            padding: 0.15rem 0;
            display: none;
        }

        .fn-list li {
            padding: 0 0 0 0.3rem;
            font-size: 0.28rem;
            height: 0.5rem;
            line-height: 0.5rem;
            color: #bbb;
        }

        .fn-list li a {
            display: block;
            height: 100%;
        }

        .fn-right {
            margin-top: 0.48rem;
            padding-bottom: 0.28rem;
            border-bottom: 0.02rem solid rgba(85, 85, 85, 0.2);
        }

        .fn-right li {
            float: left;
            line-height: 0.4rem;
            font-size: 0.28rem;
            color: rgba(255, 255, 255, 0.5);
        }

        .fn-right li span {
            margin: 0 0.2rem;
            color: rgba(255, 255, 255, 0.5);
        }

        .wsc-bottom {
            margin-top: 0.3rem;
            font-size: 0.28rem;
            color: #808080;
            line-height: 0.32rem;
        }

        .wb-a {
            margin-top: 0.3rem;
        }

        .wb-a span {
            margin: 0 0.35rem;
            color: rgba(255, 255, 255, 0.5);
        }

        .wb-right {
            float: right;
            margin-top: 0.48rem;
        }

        .wb-left {
            float: left;
        }

        .wb-share {
            float: right;
        }

        .share {
            overflow: hidden;
            height: 0.6rem;
        }

        .share a {
            float: right;
            width: 0.6rem;
            height: 0.6rem;
            margin-left: 0.2rem;
            border-radius: 50%;
            transition: 0.3s;
        }

        .share .icon-twitter {
            background: #333 url('./index_files/m-share-tw.png') no-repeat center center;
            background-size: 0.28rem auto;
        }

        .share .icon-facebook {
            background: #333 url("./index_files/m-share-face.png") no-repeat center center;
            background-size: 0.14rem auto;
        }

        .share .icon-linkedin {
            background: #333 url('./index_files/m-share-link.png') no-repeat center center;
            background-size: 0.24rem auto;
        }

        .wsc-fixBar {
            position: fixed;
            right: 0;
            top: 65%;
            z-index: 1000;
        }

        .fb-lx,
        .fb-em,
        .fb-online,
        .fb-top {
            width: 1.2rem;
            height: 0.42rem;
            margin-bottom: 0.02rem;
            cursor: pointer;
            transition: 0.36s;
            font-size: 0.24rem;
            text-align: center;
            line-height: 0.32rem;
            padding-top: 0.68rem;
            color: #fff;
            border-radius: 0.04rem;
            position: relative;
        }

        .fb-lx {
            background: #e03b3b url(./index_files/fix-lx.png) no-repeat center 0.2rem;
            background-size: 0.39rem auto;
        }

        .fb-online {
            background: #e03b3b url(./index_files/fix-online.png) no-repeat center 0.26rem;
            background-size: 0.39rem auto;
        }

        .fb-top {
            background: #e03b3b url(./index_files/fix-top.png) no-repeat center center;
            background-size: 0.48rem auto;
        }

        .fb-lx:hover a,
        .fb-online:hover a {
            color: #fff;
        }

        .fb-lx a,
        .fb-em a,
        .fb-online a,
        .fb-top a {
            color: #fff;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding-top: 0.68rem;
        }

        .btn {
            display: inline-block;
            box-sizing: border-box;
            border-radius: 0.04rem;
            width: 6.9rem;
            height: 0.88rem;
            text-align: center;
            line-height: 0.88rem;
            font-size: 0.32rem;
            transition: 0.3s;
        }

        .btn-blue {
            background-color: #1d2088;
            border: 0.02rem solid #1d2088;
            color: #fff;
        }

        .btn-blue span {
            display: inline-block;
            padding-right: 0.54rem;
            background: url(./index_files/m-team-main-btn1.png) no-repeat right center;
            background-size: 0.17rem 0.27rem;
        }

        .btn-blue:hover {
            background-color: #3235A0;
            border-color: #3235A0;
            color: #fff;
        }

        .btn-white {
            background-color: #fff;
            border: 0.02rem solid #1d2088;
            color: #1d2088;
        }

        .btn-white:hover {
            background-color: #1d2088;
            color: #fff;
        }

        .btn-white span {
            display: inline-block;
            padding-right: 0.5rem;
            background: url(./index_files/m-solution-bottom-list-more.png) no-repeat right center;
            background-size: 0.16rem 0.24rem;
        }

        .btn-white:hover span {
            background-image: url(./index_files/arr-white.png);
        }

        .btn-red {
            background-color: #e03b3b;
            border: 0.02rem solid #e03b3b;
            color: #fff;
        }

        .btn-red:hover {
            background-color: #C41515;
            border-color: #C41515;
            color: #fff;
        }

        .btn-whitebd {
            border: 0.02rem solid #fff;
            color: #fff;
        }

        .btn-whitebd:hover {
            background-color: #fff;
            color: #1d2088;
        }

        .grey-block {
            height: 0.1rem;
            background-color: #f6f6f6;
        }

        .btaa {
            border-top: 0.02rem solid #F6F6F6;
        }

        .cTit {
            font-size: 0.44rem;
            line-height: 0.48rem;
            text-align: center;
            font-weight: bold;
            color: #1d2088;
        }

        .cTitText {
            font-size: 0.28rem;
            line-height: 0.36rem;
            text-align: center;
            color: #828282;
            margin-top: 0.3rem;
        }

        .cTit-h2 {
            font-size: 0.4rem;
            line-height: 0.52rem;
            text-align: center;
            color: #1d2088;
            font-weight: bold;
        }

        .ctit-text {
            color: #828282;
            margin: 0.4rem auto 0;
            text-align: center;
        }

        .wsc-top-noban .wsc-TopCon {
            background-color: #1d2088;
        }

        .hn-text .rotate180 {
            transform: rotateZ(180deg);
        }
    </style>

    <style>
        .index-banner {
            position: relative;
            margin-top: -1rem;
        }

        .index-banner img {
            width: 100%;
        }

        .swiper-container {
            width: 100%;
        }

        .index-banner .swiper-slide,
        .index-banner .swiper-wrapper {
            height: 100% !important;
        }

        .index-banner .pagination-inban {
            height: 0.24rem;
            font-size: 0;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0.3rem;
            margin: auto;
            z-index: 100;
        }

        .index-banner .swiper-pagination-bullet {
            display: inline-block;
            vertical-align: top;
            padding-left: 0.9rem;
            height: 0.24rem;
            background: url(./index_files/m-inban-line.png) no-repeat 0 center;
            background-size: 0.6rem auto;
            margin-left: 0.3rem !important;
            opacity: 1;
        }

        .index-banner .swiper-pagination-bullet:first-child {
            padding-left: 0;
            background: none;
            margin-left: 0;
        }

        .index-banner .swiper-pagination-bullet .dot {
            display: inline-block;
            width: 0.24rem;
            height: 0.24rem;
            background: url(./index_files/m-inabn-dots.png) no-repeat center center;
            background-size: 0.08rem auto;
        }

        .index-banner .swiper-pagination-bullet-active .dot {
            background: url(./index_files/m-inabn-actdots.png) no-repeat center center;
            background-size: 0.24rem auto;
        }

        .index-block1 {
            padding: 0.5rem 0.3rem;
        }

        .inb1-main {
            margin-top: 0.4rem;
        }

        .inb1-main .item {
            width: 3.4rem;
            position: relative;
            transition: 0.36s;
        }

        .inb1-main .item:first-child {
            margin-left: 0;
        }

        .inb1-main .item-img {
            width: 100%;
            overflow: hidden;
            display: block;
        }

        .inb1-main .item-img img {
            width: 100%;
        }

        .inb1-main .info {
            height: 1.5rem;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            box-sizing: border-box;
            padding: 0 0.2rem;
            font-size: 0;
            text-align: center;
            background: rgba(0, 3, 29, 0.46);
        }

        .inb1-main .tit {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.3rem;
            line-height: 0.44rem;
            color: #fff;
        }

        .midline {
            display: inline-block;
            width: 1px;
            margin-left: -1px;
            height: 100%;
            vertical-align: middle;
        }

        .inb1-main .swiper-pagination {
            width: 100%;
            margin-top: 0.3rem;
            position: unset;
        }

        .inb1-main .swiper-pagination-bullet {
            width: 0.2rem;
            height: 0.2rem;
            margin: 0 0.08rem;
            border-radius: 50%;
            background-color: #aaa;
        }

        .inb1-main .swiper-pagination-bullet-active {
            background-color: #1d2088;
        }

        .index-block2 {
            padding: 0.5rem 0.35rem 0;
            background: url(./index_files/m-inb2-bg.jpg) no-repeat center top;
            background-size: cover;
        }

        .index-block2 .cTit,
        .index-block2 .cTitText {
            color: #fff;
        }

        .inb2-btn {
            text-align: center;
            margin-top: 0.4rem;
        }

        .inb2-btn .btn {
            width: 4rem;
        }

        .inb2-main {
            margin-top: 1.2rem;
            margin-left: -0.01rem;
        }

        .inb2-main .item {
            width: 2.2rem;
            float: left;
            margin-left: 0.1rem;
            box-sizing: border-box;
            height: 3.08rem;
            padding-top: 0.3rem;
            background-color: rgba(29, 32, 136, 0.46);
            border: solid 0.02rem rgba(175, 176, 225, 0.26);
            text-align: center;
            transition: 0.36s;
        }

        .inb2-main .item:first-child {
            margin-left: 0;
        }

        .inb2-main .item:hover {
            height: 3.18rem;
            margin-top: -0.1rem;
            background-color: rgba(29, 32, 136, 0.8);
        }

        .inb2-main i {
            display: block;
            width: 1.32rem;
            height: 1.32rem;
            border-radius: 50%;
            margin: auto;
        }

        .inb2-main .tit {
            font-size: 0.28rem;
            line-height: 0.38rem;
            margin-top: 0.3rem;
            color: #fff;
        }

        .inb2-main .icon1 {
            background: #fff url(./index_files/m-inb2-1.png) no-repeat center center;
            background-size: cover;
        }

        .inb2-main .icon2 {
            background: #fff url(./index_files/m-inb2-2.png) no-repeat center center;
            background-size: cover;
        }

        .inb2-main .icon3 {
            background: #fff url(./index_files/m-inb2-3.png) no-repeat center center;
            background-size: cover;
        }

        .index-block3 {
            padding: 0.5rem 0.3rem;
        }

        .inb3-main {
            margin-top: 0.4rem;
        }

        .inb3-main .item {
            width: 2.3rem;
            float: left;
        }

        .inb3-main .info {
            height: 1.76rem;
            background-color: #f6f6f6;
            text-align: center;
            box-sizing: border-box;
            padding-top: 0.52rem;
        }

        .inb3-main .item-img {
            height: 1.76rem;
            overflow: hidden;
        }

        .inb3-main .item-img img {
            width: 100%;
        }

        .inb3-main .tit {
            font-size: 0.28rem;
            line-height: 0.4rem;
            font-weight: bold;
            color: #222;
        }

        .inb3-btn {
            margin-top: 0.4rem;
            text-align: center;
        }

        .inb3-btn .btn {
            width: 4rem;
        }

        .index-block4 {
            padding: 0.5rem 0.3rem;
            background: url(./index_files/m-inb4-bg.jpg) no-repeat center top;
            background-size: cover;
        }

        .index-block4 .cTit,
        .index-block4 .cTitText {
            color: #fff;
        }

        .inb4-main {
            margin-top: 0.4rem;
        }

        .inb4-main .links {
            margin-top: -0.1rem;
            margin-right: -0.11rem;
        }

        .inb4-main .item {
            float: left;
            width: 3.4rem;
            height: 2.52rem;
            box-sizing: border-box;
            margin-right: 0.1rem;
            margin-top: 0.1rem;
            font-size: 0;
            border: 0.02rem solid rgba(255, 255, 255, 0.2);
            transition: 0.3s;
            padding-top: 0.3rem;
            text-align: center;
        }

        .inb4-main .item:hover {
            border-color: rgba(255, 255, 255, 0.5);
        }

        .inb4-main i {
            display: block;
            height: 1rem;
            width: 1rem;
            margin: auto;
        }

        .inb4-main .icon1 {
            background: url(./index_files/m-inb4-1.png) no-repeat center center;
            background-size: cover;
        }

        .inb4-main .icon2 {
            background: url(./index_files/m-inb4-2.png) no-repeat center center;
            background-size: cover;
        }

        .inb4-main .icon3 {
            background: url(./index_files/m-inb4-3.png) no-repeat center center;
            background-size: cover;
        }

        .inb4-main .icon4 {
            background: url(./index_files/m-inb4-4.png) no-repeat center center;
            background-size: cover;
        }

        .inb4-main .tit {
            margin-top: 0.16rem;
            text-align: center;
            font-size: 0.32rem;
            line-height: 0.4rem;
            color: #fff;
            transition: 0.36s;
            display: block;
        }

        .index-block5 {
            padding: 0.5rem 0.3rem;
        }

        .inb5-tabmain {
            margin-top: 0.4rem;
        }

        .inb5-tabitem.active {
            display: block;
        }

        .inb5-tabitem .list-main {
            margin-top: -0.1rem;
            margin-right: -0.11rem;
        }

        .inb5-tabitem li {
            float: left;
            width: 2.2rem;
            height: 1.2rem;
            box-sizing: border-box;
            background-color: #ffffff;
            border: solid 0.1rem #f6f6f6;
            text-align: center;
            margin-right: 0.1rem;
            margin-top: 0.1rem;
            position: relative;
            overflow: hidden;
        }

        .inb5-tabitem li img {
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .inb5-btn {
            margin-top: 0.4rem;
            text-align: center;
            font-size: 0;
        }

        .inb5-btn .btn {
            width: 3.4rem;
        }

        .inb5-btn .btn-blue {
            margin-right: 0.1rem;
        }

        .index-block6 {
            padding: 0.5rem 0.3rem;
            background-color: #f6f6f6;
        }

        .inb6-main {
            margin-top: 0.3rem;
        }

        .inb6-main .third-block {
            margin-top: 0.1rem;
        }

        .inb6-main .third-block:first-child {
            margin-top: 0;
        }

        .inb6-main .inb6-news {
            background-color: #fff;
            transition: 0.36s;
        }

        .inb6-main .inb6-news:hover {
            box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.08);
        }

        .inb6-main .sec-tit {
            height: 0.8rem;
            line-height: 0.8rem;
            background-color: #EAEAEA;
            color: #1d2088;
            font-size: 0.36rem;
            font-weight: bold;
            overflow: hidden;
            padding: 0 0.4rem;
        }

        .inb6-main .sec-tit a {
            color: #1d2088;
        }

        .inb6-main .list-item {
            padding: 0.3rem;
        }

        .inb6-main .list-tit {
            font-size: 0.28rem;
            line-height: 0.38rem;
            color: #222;
            height: 0.76rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .inb6-main .list-time {
            font-size: 0.28rem;
            line-height: 0.48rem;
            color: #999;
            margin-top: 0.2rem;
            padding-left: 0.44rem;
            background: url(./index_files/m-technical-date-icon1.png) no-repeat 0 center;
            background-size: 0.32rem auto;
        }

        .inb6-links {
            margin-top: 0.2rem;
            margin-left: 0.1rem;
            width: 3.4rem;
            box-sizing: border-box;
            border: 0.1rem solid #fff;
            float: left;
            background-color: #fff;
        }

        .inb6-links:first-child {
            margin-left: 0;
        }

        .inb6-links .link-img {
            width: 100%;
            overflow: hidden;
        }

        .inb6-links .link-img img {
            width: 100%;
            transition: 0.36s;
        }

        .inb6-links .link-img a {
            display: block;
        }

        .inb6-links .link-tit {
            display: block;
            line-height: 0.48rem;
            font-size: 0.28rem;
            color: #828282;
            padding-top: 0.1rem;
        }

        .inb6-links:hover img {
            transform: scale(1.08);
        }

        .fastLinks {
            height: 85px;
            background-color: #fff;
            padding-top: 35px;
        }

        .fastLinks .item {
            width: 25%;
            float: left;
            background: url(./index_files/fastline.png) no-repeat 0 center;
            box-sizing: border-box;
            padding-left: 50px;
            font-size: 0;
        }

        .fastLinks .item:first-child {
            background: none;
        }

        .fastLinks i {
            display: inline-block;
            vertical-align: middle;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .fastLinks .icon1 {
            background: url(./index_files/fastlink1.png) no-repeat center center;
        }

        .fastLinks .icon2 {
            background: url(./index_files/fastlink2.png) no-repeat center center;
        }

        .fastLinks .icon3 {
            background: url(./index_files/fastlink3.png) no-repeat center center;
        }

        .fastLinks .icon4 {
            background: url(./index_files/fastlink4.png) no-repeat center center;
        }

        .fastLinks .tit {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            line-height: 28px;
            color: #828282;
            margin-left: 20px;
            transition: 0.36s;
        }

        .fastLinks .tit:hover {
            color: #1d2088;
        }
    </style>