@charset "utf-8";
/*格式化样式*/
html,
body {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  position: relative;
}
html,
body,
div,
span,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
table,
th,
td,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
}
abbr,
acronym {
  border: 0;
}
a,
:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: #ffffff;
}
.yLine::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 1px;
  height: 0.8em;
  position: absolute;
  left: 0;
  top: 0.3em;
}
.header {
  position: absolute;
  top: 0;
  z-index: 1000;
}
.header .inMain .ha-top {
  border-bottom: 1px solid #767676;
}
.header .inMain .ha-top .l-logo {
  width: 300px;
}
.header .inMain .ha-top .r-phone a {
  font-size: 18px;
  line-height: 28px;
  color: #002b45;
}
.header .inMain .ha-nav ul {
  height: 70px;
  font-size: 22px;
}
.header .inMain .ha-nav ul li {
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}
.header .inMain .ha-nav ul li:hover a::after {
  transform: scale(1);
}
.header .inMain .ha-nav ul li a {
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
.header .inMain .ha-nav ul li a::after {
  content: "";
  background-color: #002b45;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transform-origin: center bottom;
  transition: all 0.4s;
}
.header .inMain .ha-nav .search a:first-child img {
  width: 30px;
}
.header .inMain .ha-nav .search a:last-child {
  font-size: 22px;
}
.index-banner {
  position: relative;
}
.index-banner img {
  width: 100%;
}
