@charset "utf-8";
/*格式化样式*/
html {
  overflow-x: hidden;
  overflow-y: auto;
}
html,
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, sans-serif, "PingFang SC", "Microsoft Yahei", "Heiti SC", Roboto;
  position: relative;
}
html,
body,
div,
span,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
}
a,
:link,
:visited,
:hover,
:active {
  text-decoration: none;
}
html {
  font-size: 13.3333vw;
}
body {
  font-size: 0.32rem;
}
@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
  p {
    font-size: 1em;
  }
}
.yLine::before {
  content: "";
  display: block;
  background: #f8c300;
  width: 1px ;
  height: 0.8em;
  position: absolute;
  left: 0;
  top: 1.3em;
}
.z-Line::before {
  content: "";
  display: block;
  background-color: #f8c300;
  width: 1px;
  height: 0.8em;
  position: absolute;
  right: 0.5em;
  top: 0.25em;
}
.xMove {
  transition: all 0.5s;
  position: relative;
}
.xMove:hover {
  transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  /* IE 9 */
  -webkit-transform: translate(0, -15px);
  /* Safari and Chrome */
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
@media (min-width: 1200px) {
  .index-centres {
    max-width: 1180px !important;
    width: 1180px !important;
    transition: 0.36s;
  }
}
@media (max-width: 767px) {
  .centres {
    max-width: 92% !important;
    width: 92% !important;
    transition: 0.36s;
  }
}
@media (min-width: 768px) {
  .centres {
    max-width: 720px !important;
    width: 720px !important;
    transition: 0.36s;
  }
}
@media (min-width: 992px) {
  .centres {
    max-width: 960px !important;
    width: 960px !important;
    transition: 0.36s;
  }
}
@media (min-width: 1200px) {
  .centres {
    max-width: 1180px !important;
    width: 1180px !important;
    transition: 0.36s;
  }
}
@media (min-width: 1200px) {
  .index-centres {
    max-width: 1180px !important;
    width: 1180px !important;
    transition: 0.36s;
  }
}
.none-hide {
  display: none;
}
.pro-mian .pro-banbt {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  .pro-mian .pro-banbt {
    padding: 7px 0;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-banbt {
    padding: 10px 0;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-banbt {
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  .pro-mian .pro-banbt .centres {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 0.76rem;
  }
}
.pro-mian .pro-banbt .centres .pro-bread {
  display: -webkit-flex;
  display: flex;
  height: 26px;
  line-height: 26px;
}
@media (max-width: 767px) {
  .pro-mian .pro-banbt .centres .pro-bread {
    font-size: 0.28rem;
    align-items: center;
  }
}
.pro-mian .pro-banbt .centres .pro-bread strong {
  width: 26px;
  height: 26px;
  background: url("../ico/bread-icon.webp") no-repeat 0 6px;
}
@media (max-width: 767px) {
  .pro-mian .pro-banbt .centres .pro-bread strong {
    display: none;
  }
}
.pro-mian .pro-banbt .centres .pro-bread span {
  margin: 0 8px;
  width: 7px;
  height: 26px;
  background: url("../ico/bread-arr.png") no-repeat center center;
}
.pro-mian .pro-black1 {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.pro-mian .pro-black1 .centres .bk-text {
  text-align: left;
  color: #555;
}
@media (max-width: 767px) {
  .pro-mian .pro-black1 .centres .bk-text {
    display: none;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-black1 .centres .bk-text {
    font-size: 14px;
    margin-top: 30px;
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-black1 .centres .bk-text {
    font-size: 16px;
    margin-top: 40px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-black1 .centres .bk-text {
    font-size: 18px;
    margin-top: 60px;
    line-height: 28px;
  }
}
.pro-mian .pro-black1 .centres .bk-main {
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  flex-wrap: wrap ;
}
@media (max-width: 767px) {
  .pro-mian .pro-black1 .centres .bk-main {
    margin: 0.4rem 0 0.2rem;
    font-size: 0.28rem;
    line-height: 0.4rem;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-black1 .centres .bk-main {
    padding: 30px 0;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-black1 .centres .bk-main {
    padding: 40px 0;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-black1 .centres .bk-main {
    padding: 60px 0;
  }
}
.pro-mian .pro-black1 .centres .bk-main .sub {
  background-color: #ebeaf1;
  position: relative;
  overflow: hidden;
  color: #909BA6;
}
@media (max-width: 767px) {
  .pro-mian .pro-black1 .centres .bk-main .sub {
    border-radius: 0.1rem;
    margin-top: 0.1rem;
    width: 2.8rem;
    height: 3.6rem;
    padding: 0.4rem 0.3rem 0;
  }
  .pro-mian .pro-black1 .centres .bk-main .sub p {
    background: url('../ico/prohb1-arr.png') no-repeat right 0.04rem;
    background-size: 0.32rem auto;
    padding-right: 0.52rem;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-black1 .centres .bk-main .sub {
    width: 170px;
    height: 230px;
    border-radius: 6px;
  }
  .pro-mian .pro-black1 .centres .bk-main .sub p {
    margin: 28px 0 0;
    padding: 0 10px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    background: none;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-black1 .centres .bk-main .sub {
    width: 228px;
    height: 300px;
    border-radius: 8px;
  }
  .pro-mian .pro-black1 .centres .bk-main .sub p {
    margin: 40px 0 0 25px;
    width: 180px;
    font-size: 18px;
    text-align: left;
    background: url(../ico/prohb1-arr.png) no-repeat right 5px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-black1 .centres .bk-main .sub {
    width: 228px;
    height: 300px;
    border-radius: 10px;
  }
  .pro-mian .pro-black1 .centres .bk-main .sub p {
    margin: 40px 0 0 25px;
    width: 180px;
    font-size: 20px;
    line-height: 26px;
    background: url(../ico/prohb1-arr.png) no-repeat right 5px;
  }
}
.pro-mian .pro-black1 .centres .bk-main .sub-more {
  display: -webkit-flex;
  display: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  line-height: 26px;
  width: 100%;
  /*
                  //子项2
                  .sub-more2{
                    @media (max-width: 767px) {
                        background: url('../ico/prohb1-arr.png') no-repeat right 0.04rem;
                        background-size: 0.32rem auto;
                        height: 2rem;
                        width: 3.4rem;
                        border-radius: 0.1rem;

                    }
                    background-color: rgba(232,236,241,1);position: relative; color: #909BA6;p{margin: 35px 25px 0; width: 180px; background: url('../ico/prohb1-arr.png') no-repeat right 5px; }
                    @media (min-width: 1200px) {height: 145px; border-radius: 8px;}

                  }
                  */
}
@media (max-width: 767px) {
  .pro-mian .pro-black1 .centres .bk-main .sub-more {
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 0.1rem;
    font-size: 0.28rem;
    line-height: 0.4rem;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-black1 .centres .bk-main .sub-more {
    width: 228px;
    position: relative;
    opacity: 1;
    display: -webkit-flex;
    display: flex;
  }
}
.pro-mian .pro-black1 .centres .bk-main .sub-more .sub-more1 {
  background-color: #e8ecf1;
  position: relative;
  color: #909BA6;
}
@media (max-width: 767px) {
  .pro-mian .pro-black1 .centres .bk-main .sub-more .sub-more1 {
    background-size: 0.32rem auto;
    height: 2rem;
    width: 2.8rem;
    border-radius: 0.1rem;
    padding: 0.44rem 0.3rem 0;
  }
  .pro-mian .pro-black1 .centres .bk-main .sub-more .sub-more1 p {
    margin: 0;
    background: url('../ico/prohb1-arr.png') no-repeat right 0.04rem;
    padding-right: 0.52rem;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-black1 .centres .bk-main .sub-more .sub-more1 p {
    margin: 35px 25px 0;
    background: url(../ico/prohb1-arr.png) no-repeat right 5px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-black1 .centres .bk-main .sub-more .sub-more1 {
    height: 145px;
    border-radius: 8px;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-a {
    background: #f6f6f6;
  }
  .pro-mian .pro-a .centres .type-main {
    background: #ffffff;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-b {
    background: #ffffff;
  }
  .pro-mian .pro-b .centres .type-main {
    background: #f6f6f6;
  }
}
.pro-mian .pro-type {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .pro-mian .pro-type .centres {
    max-width: 100%;
    margin: 0.3rem 0.3rem 0;
    background: #f6f6f6;
    position: relative;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-type .centres {
    max-width: 720px;
    width: 720px;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-type .centres {
    max-width: 960px;
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-type .centres {
    max-width: 1180px;
    width: 1180px;
  }
}
.pro-mian .pro-type .centres .type-text {
  text-align: left;
  color: #1d2088;
  font-weight: bold;
}
@media (max-width: 767px) {
  .pro-mian .pro-type .centres .type-text {
    position: absolute;
    z-index: 20;
    top: 5.4rem;
    left: 0.3rem;
    font-size: 0.36rem;
    line-height: 0.42rem;
    color: #1d2088;
    font-weight: bold;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-type .centres .type-text {
    font-size: 24px;
    padding-top: 30px;
    line-height: 26px;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-type .centres .type-text {
    font-size: 26px;
    padding-top: 40px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-type .centres .type-text {
    font-size: 28px;
    padding-top: 60px;
    line-height: 30px;
  }
}
.pro-mian .pro-type .centres .type-main {
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 767px) {
  .pro-mian .pro-type .centres .type-main {
    justify-content: space-around;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-type .centres .type-main {
    margin: 20px 0 30px;
    height: 230px;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-type .centres .type-main {
    margin: 30px 0 40px;
    height: 336px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-type .centres .type-main {
    margin: 40px 0 60px;
    height: 420px;
  }
}
.pro-mian .pro-type .centres .type-main .type-sub1 {
  background-color: #ebeaf1;
  position: relative;
  color: #909BA6;
  font-size: 18px;
  line-height: 26px;
  width: 50%;
}
@media (max-width: 767px) {
  .pro-mian .pro-type .centres .type-main .type-sub1 {
    width: 100%;
    margin-bottom: 0.3rem;
    border-radius: 0.1rem 0.1rem 0 0;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-type .centres .type-main .type-sub1 {
    height: 230px;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-type .centres .type-main .type-sub1 {
    height: 336px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-type .centres .type-main .type-sub1 {
    height: 420px;
  }
}
.pro-mian .pro-type .centres .type-main .type-sub2 {
  width: 50%;
}
@media (max-width: 767px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 {
    width: 100%;
    padding: 0.8rem 0.3rem 0rem;
    font-size: 0.32rem;
    line-height: 0.48rem;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 {
    padding: 22px 25px 0;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 {
    padding: 34px 40px 0;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 {
    padding: 45px 50px 0;
  }
}
.pro-mian .pro-type .centres .type-main .type-sub2 .type-content {
  color: #828282;
}
@media (max-width: 767px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-content {
    padding-bottom: 0.4rem;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-content {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-content {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-content {
    font-size: 16px;
    line-height: 28px;
  }
}
.pro-mian .pro-type .centres .type-main .type-sub2 .type-btn {
  text-align: center;
}
.pro-mian .pro-type .centres .type-main .type-sub2 .type-btn a {
  color: #ffffff;
  background-color: #1d2088;
  display: block;
}
@media (max-width: 767px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-btn {
    padding-bottom: 0.5rem;
    line-height: 0.88rem;
    transition: 0.3s;
  }
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-btn a {
    height: 0.88rem;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-btn {
    margin-top: 10px;
    font-size: 14px;
    line-height: 30px;
  }
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-btn a {
    width: 120px;
    height: 30px;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-btn {
    margin-top: 20px;
    font-size: 18px;
    line-height: 34px;
  }
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-btn a {
    width: 160px;
    height: 36px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-btn {
    margin-top: 45px;
    font-size: 20px;
    line-height: 38px;
  }
  .pro-mian .pro-type .centres .type-main .type-sub2 .type-btn a {
    width: 180px;
    height: 40px;
  }
}
.pro-mian .pro-block {
  height: 10px;
  background-color: #f6f6f6;
}
@media (max-width: 767px) {
  .pro-mian .pro-block {
    margin: 0.5rem 0;
    height: 0.1rem;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-block {
    margin: 30px 0 ;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-block {
    margin: 40px 0 ;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-block {
    margin: 60px 0 ;
  }
}
.pro-mian .pro-service {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .pro-mian .pro-service {
    padding: 0 ;
  }
}
.pro-mian .pro-service .centres {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  transition: 0.36s;
}
@media (max-width: 767px) {
  .pro-mian .pro-service .centres {
    -webkit-flex-wrap: wrap ;
    flex-wrap: wrap ;
  }
}
.pro-mian .pro-service .centres .ser-sub {
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background: url("../img/background/pro-servbg.webp") no-repeat center top;
  transition: 0.36s;
}
.pro-mian .pro-service .centres .ser-sub:hover {
  background: url("../img/background/pro-servbgh.webp") no-repeat center top;
  color: white;
}
.pro-mian .pro-service .centres .ser-sub:hover :hover {
  color: white;
}
@media (max-width: 767px) {
  .pro-mian .pro-service .centres .ser-sub {
    margin-top: 0.1rem;
    padding: 0.3rem;
    width: 3.4rem;
    height: 3rem;
  }
  .pro-mian .pro-service .centres .ser-sub img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .pro-mian .pro-service .centres .ser-sub {
    padding: 14px 0;
    width: 175px;
    height: 135px;
    font-size: 14px;
  }
  .pro-mian .pro-service .centres .ser-sub img {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 992px) {
  .pro-mian .pro-service .centres .ser-sub {
    padding: 25px 0;
    width: 230px;
    height: 155px;
    font-size: 16px;
  }
  .pro-mian .pro-service .centres .ser-sub img {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1200px) {
  .pro-mian .pro-service .centres .ser-sub {
    padding: 30px 0;
    width: 280px;
    height: 200px;
    font-size: 18px;
  }
  .pro-mian .pro-service .centres .ser-sub img {
    width: 80px;
    height: 80px;
  }
}
.pro-mian .pro-service .centres .ser-sub img,
.pro-mian .pro-service .centres .ser-sub .tit {
  margin: auto;
}
