/*格式化样式*/
html {
  overflow-x: hidden;
  overflow-y: auto;
}
html,
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, sans-serif, "PingFang SC", "Microsoft Yahei", "Heiti SC", Roboto;
  position: relative;
}
html,
body,
div,
span,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
}
a,
:link,
:visited,
:hover,
:active {
  text-decoration: none;
}
html {
  font-size: 13.3333vw;
}
body {
  font-size: 0.32rem;
}
@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
  p {
    font-size: 1em;
  }
}
.yLine::before {
  content: "";
  display: block;
  background: #f8c300;
  width: 1px ;
  height: 0.8em;
  position: absolute;
  left: 0;
  top: 1.3em;
}
.z-Line::before {
  content: "";
  display: block;
  background-color: #f8c300;
  width: 1px;
  height: 0.8em;
  position: absolute;
  right: 0.5em;
  top: 0.25em;
}
.xMove {
  transition: all 0.5s;
  position: relative;
}
.xMove:hover {
  transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  /* IE 9 */
  -webkit-transform: translate(0, -15px);
  /* Safari and Chrome */
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
@media (max-width: 767px) {
  .centres {
    max-width: 92% !important;
    width: 92% !important;
    transition: 0.36s;
  }
}
@media (min-width: 768px) {
  .centres {
    max-width: 720px !important;
    width: 720px !important;
    transition: 0.36s;
  }
}
@media (min-width: 992px) {
  .centres {
    max-width: 960px !important;
    width: 960px !important;
    transition: 0.36s;
  }
}
@media (min-width: 1200px) {
  .centres {
    max-width: 1180px !important;
    width: 1180px !important;
    transition: 0.36s;
  }
}
@media (min-width: 1652px) {
  .centres {
    max-width: 1400px !important;
    width: 1400px !important;
    transition: 0.36s;
  }
}
@media (min-width: 1980px) {
  .centres {
    max-width: 1630px !important;
    width: 1400px !important;
    transition: 0.36s;
  }
}
@media (min-width: 1200px) {
  .index-centres {
    max-width: 1180px !important;
    width: 1180px !important;
    transition: 0.36s;
  }
}
.none-hide {
  display: none;
}
