/*格式化样式*/
html {
  overflow-x: hidden;
  overflow-y: auto;
}
html,
body {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  position: relative;
}
html,
body,
div,
span,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
table,
th,
td,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
}
abbr,
acronym {
  border: 0;
}
a,
:link,
:visited,
:hover,
:active {
  text-decoration: none !important;
  color: #294ba2;
}
p {
  font-size: 1em;
}
.yLine::before {
  content: "";
  display: block;
  background: #f8c300;
  width: 1px ;
  height: 0.8em;
  position: absolute;
  left: 0;
  top: 1.3em;
}
.z-Line::before {
  content: "";
  display: block;
  background-color: #f8c300;
  width: 1px;
  height: 0.8em;
  position: absolute;
  right: 0.5em;
  top: 0.25em;
}
.xMove {
  transition: all 0.5s;
  position: relative;
}
.xMove:hover {
  transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  /* IE 9 */
  -webkit-transform: translate(0, -15px);
  /* Safari and Chrome */
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
