//页面颜色
$clSkyBlue: #d0edff;
$clDarkBlue: #002b45;
$clWhite: #ffffff;
$clOrange: #f8c300;
$clBlue: #294ba2;
$clLightGray: #e2e2e2;
$clDarkGrey: #767676;
$clBlack: #000000;
// $fTypeDx: 等线;
//字体大小
$font43: 1.5926rem;
$font38: 1.4074rem;
$font36: 1.3333rem;
$font32: 1.1852rem;
$font30: 1.1111rem;
$font28: 1.037rem;
$font24: 0.8889rem;
$font21: 0.7778rem;
//字体粗细
$fontW100: 100;
$fontW300: 300;
$fontW500: 500;
$fontW700: 700;
$fontW900: 900;
