//页面颜色
$clSkyBlue: #d0edff;
$clDarkBlue: #002b45;
$clWhite: #ffffff;
$clOrange: #f8c300;
$clBlue: #294ba2;
$clLightGray: #e2e2e2;
$clDarkGrey: #767676;
$clBlack: #000000;
// $fTypeDx: 等线;
//字体大小
$font43: 43px;
$font38: 38px;
$font36: 36px;
$font32: 32px;
$font30: 30px;
$font28: 28px;
$font24: 24px;
$font21: 21px;
//字体粗细
$fontW100: 100;
$fontW300: 300;
$fontW500: 500;
$fontW700: 700;
$fontW900: 900;
