@charset "UTF-8";
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.head {
  height: 162px;
  background-color: #041e41;
  position: relative;
}

.head .logo {
  position: absolute;
  top: 30px;
  left: 57px;
}

.head .logo img {
  height: 101px;
}

.head .phone {
  position: absolute;
  top: 49px;
  right: 44px;
  color: #fff;
  font-size: 21px;
}

.head .phone img {
  height: 62px;
  display: block;
  float: left;
}

.head .phone span {
  display: block;
  float: right;
  margin-left: 20px;
  margin-top: 3px;
}

.Nav {
  height: 81px;
  width: 100%;
  background-color: #f8c301;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
}

.Nav li {
  font-size: 30px;
  width: 130px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  cursor: pointer;
}

.Nav a {
  color: #929292;
}

.Nav li:hover {
  background-color: rgba(4, 30, 65, 0.9);
}

.Nav li:hover a {
  color: #fff;
}

.Nav .activity {
  background-color: rgba(4, 30, 65, 0.9);
}

.Nav .activity a {
  color: #fff;
}

.main .banner {
  height: 803px;
  background-color: #041e41;
}

.main .modular {
  height: 313px;
  background-color: #efefef;
  height: 289px;
  background-color: #fff;
  padding: 0 36px;
}

.main .modular div {
  padding-left: 2px;
  height: 107px;
  line-height: 107px;
}

.main .modular div :first-child {
  font-size: 27px;
  font-weight: 600;
  color: #f8c301;
}

.main .modular div :last-child {
  font-size: 25px;
  color: #595757;
}

.main .modular ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 29px;
  text-align: center;
  line-height: 137px;
}

.main .modular ul li {
  width: 328px;
  height: 137px;
  background-color: #efefef;
  border-radius: 5px;
}

.main .interval {
  height: 24px;
  background-color: #efefef;
}

.main .product {
  height: 1506px;
}

.main .product :first-child {
  height: 170px;
  box-sizing: border-box;
}

.main .product :first-child p {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-top: 56px;
  position: relative;
}

.main .product :first-child p::after {
  content: '';
  display: block;
  position: absolute;
  width: 79px;
  height: 8px;
  left: 501px;
  bottom: 43px;
  background-color: #f8c301;
}

.main .product :nth-child(2) {
  margin: 0 auto;
  width: 1012px;
  height: 387px;
  background-color: #666;
  position: relative;
}

.main .product :nth-child(2)::before {
  content: '全自动是全自动是全自动是';
  display: block;
  position: absolute;
  bottom: 16px;
  right: 0;
  padding-right: 53px;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  z-index: 10;
}

.main .product :nth-child(2)::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 67px;
  background-color: rgba(248, 195, 1, 0.5);
  bottom: 0;
  font-size: 30px;
  z-index: 8;
}

.main .case {
  height: 1576px;
}

.main .about {
  height: 1426px;
}

.main .new {
  height: 1426px;
}

.main .enterprise {
  height: 688px;
}
