@charset "UTF-8";
html {
  font-size: 2.5vw;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #002b45;
  box-sizing: border-box;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

html ::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 0.5926rem;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
:link,
:visited,
:hover,
:active {
  text-decoration: none;
}

p,
span,
div {
  margin: 0;
  padding: 0;
}

.head {
  height: 6rem;
  background-color: #d0edff;
  position: relative;
}

.head .logo {
  position: absolute;
  top: 1.0741rem;
  left: 2.4074rem;
}

.head .logo img {
  width: 16.1852rem;
}

.head .phone {
  position: absolute;
  top: 3.4074rem;
  right: 1.5926rem;
  color: #002b45;
}

.head .phone img {
  height: 1.7037rem;
  display: block;
  float: left;
}

.head .phone span {
  display: block;
  float: right;
  margin-left: 0.8889rem;
  margin-top: 0rem;
}

.head .phone span div:first-child {
  font-size: 0.8889rem;
  line-height: 0.8889rem;
  font-weight: 900;
  letter-spacing: 0.0407rem;
}

.head .phone span div:last-child {
  margin-top: 0.037rem;
  font-size: 0.7778rem;
  line-height: 0.7778rem;
  font-weight: 700;
  letter-spacing: 0rem;
}

.Nav {
  position: relative;
  height: 3rem;
  background-color: #002b45;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  margin: 0 3.3333rem;
  padding-bottom: 0.8889rem;
}

.Nav li {
  font-size: 1.037rem;
  line-height: 1.037rem;
  cursor: pointer;
}

.Nav li a {
  color: #ffffff;
}

.Nav .activity a {
  font-size: 1.4074rem;
  line-height: 1.4074rem;
  color: #f8c300;
  position: relative;
}

.Nav .activity a::after {
  position: absolute;
  content: '';
  width: 0rem;
  height: 0rem;
  border: 0.463rem solid transparent;
  border-bottom: 0.3704rem solid #f8c300;
  bottom: -0.2593rem;
  left: 50%;
  margin-left: -0.463rem;
}

.main .banner {
  position: relative;
  height: 29.7407rem;
  background: url("../img/product/banner.png") no-repeat;
  background-size: 40rem 29.7407rem;
}

.main .banner .H1 {
  box-sizing: border-box;
  padding-top: 4.1481rem;
  margin: 0 auto;
  text-align: center;
  width: 33.5185rem;
  color: #ffffff;
  font-size: 1.5926rem;
  line-height: 2.037rem;
  font-weight: 900;
  letter-spacing: 0rem;
  text-align: center;
}

.main .banner .H2 {
  position: relative;
  box-sizing: border-box;
  padding-top: 1.6667rem;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 1.037rem;
  line-height: 1.037rem;
  font-weight: 500;
  z-index: 5;
}

.main .banner .H2::before {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  margin-left: -12.481rem;
  margin-bottom: -0.5185rem;
  width: 24.962rem;
  height: 2.074rem;
  border-radius: 0.6667rem;
  background-color: #294ba2;
  z-index: -1;
}

.main .banner .exhibition {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  padding: 2.5925rem 2.037rem 0;
}

.main .banner .exhibition img {
  width: 8.1852rem;
}

.main .modular {
  height: 10.7037rem;
  box-sizing: border-box;
  padding: 0 1.4074rem;
}

.main .modular div {
  height: 3.963rem;
  line-height: 3.963rem;
}

.main .modular div span:nth-child(1) {
  font-size: 1.1111rem;
  font-weight: 500;
  color: #f8c300;
}

.main .modular div span:nth-of-type(2) {
  font-size: 1.037rem;
  font-weight: 100;
  color: #ffffff;
}

.main .modular ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.main .modular ul li {
  position: relative;
  width: 12rem;
  height: 5.0741rem;
  border-radius: 0.2963rem;
  background-color: #efefef;
}

.main .modular ul li img {
  position: absolute;
  width: 2.2222rem;
  top: 0;
  left: 50%;
  margin-top: 0.5556rem;
  margin-left: -1.1111rem;
}

.main .modular ul li span {
  color: #294ba2;
  font-size: 1.1111rem;
  line-height: 1.1111rem;
  position: absolute;
  width: 9rem;
  text-align: center;
  bottom: 0;
  left: 50%;
  margin-bottom: 0.6667rem;
  margin-left: -4.5rem;
}

.main .modular ul .activity {
  position: relative;
  overflow: hidden;
}

.main .modular ul .activity img {
  position: absolute;
  top: -6rem;
  -webkit-filter: drop-shadow(0 6rem 0rem #f8c300);
  filter: drop-shadow(0 6rem 0rem #f8c300);
}

.main .modular ul .activity span {
  color: #f8c300;
}

.main .interval {
  height: 0.8889rem;
  background-color: #f8c300;
}

.main .intS {
  margin-top: 2.963rem;
}

.main .mod > div:nth-child(1) {
  box-sizing: border-box;
  height: 6.6667rem;
  text-align: center;
  font-size: 1.3333rem;
  font-weight: 700;
  padding-top: 2.3704rem;
  position: relative;
  color: #ffffff;
}

.main .mod > div:nth-child(1)::after {
  content: '';
  position: absolute;
  display: block;
  width: 3.704rem;
  height: 0.2963rem;
  left: 50%;
  margin-left: -1.852rem;
  bottom: 0;
  margin-bottom: 1.7407rem;
  background-color: #f8c301;
}

.main .product .bannerX {
  box-sizing: border-box;
  margin: 0 auto;
  width: 37.4815rem;
  height: 15.4444rem;
  background-color: #d0edff;
  position: relative;
}

.main .product .bannerX img:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 0.5556rem;
  width: 1.4815rem;
  margin-top: -0.7407rem;
}

.main .product .bannerX img:nth-child(2) {
  position: absolute;
  top: 50%;
  right: 0.5556rem;
  width: 1.4815rem;
  margin-top: -0.7407rem;
}

.main .product .bannerX img:nth-child(3) {
  position: absolute;
  left: 50%;
  margin-left: -13.5rem;
  top: 0.2593rem;
  width: 25.5926rem;
}

.main .product .bannerX span {
  position: absolute;
  bottom: 0.4815rem;
  z-index: 15;
  font-size: 1.1852rem;
  line-height: 1.1852rem;
  color: #294ba2;
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.main .product .bannerX:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.1111rem;
  background-color: #f8c300;
  opacity: 0.9;
  z-index: 10;
}

.main .product ul:nth-child(3) {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 33.3333rem;
  padding: 2.1481rem 3.3333rem 0;
  font-size: 1.1111rem;
  color: #d0edff;
}

.main .product ul:nth-child(3) img {
  width: 2.4444rem;
  margin-bottom: 0.6667rem;
}

.main .product ul:nth-child(3) li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .product div:nth-child(4) {
  margin: 0 auto;
  font-size: 1.1111rem;
  color: #ffffff;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-top: 1.8rem;
  width: 35.5556rem;
  line-height: 1.6;
  letter-spacing: -0.0185rem;
  padding-bottom: 1.4rem;
  position: relative;
}

.main .product div:nth-child(5) {
  position: relative;
  margin: 0 auto;
  padding: 1.5556rem 0 0rem;
  width: 37.8148rem;
  display: flex;
  justify-content: space-between;
}

.main .product div:nth-child(5) div {
  width: 17.963rem;
  height: 13.7037rem;
  background-color: #f8c300;
  position: relative;
  text-align: center;
}

.main .product div:nth-child(5) div span {
  color: #294ba2;
  font-weight: 600;
  font-size: 1.1852rem;
  line-height: 1.1852rem;
  position: relative;
  bottom: -0.2593rem;
}

.main .product div:nth-child(5) div img {
  width: 17.963rem;
}

.main .product div:nth-child(5)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.1852rem;
  background-color: #f8c300;
}

.main .case {
  margin: 0 auto;
  width: 37.4815rem;
  color: #294ba2;
}

.main .case .caseBlock {
  box-sizing: border-box;
  width: 100%;
  height: 14.0741rem;
  background-color: #ffffff;
  text-align: justify;
  text-justify: inter-ideograph;
  letter-spacing: -0.0222rem;
  overflow: hidden;
}

.main .case .caseBlock img {
  width: 18rem;
  height: 12.5926rem;
}

.main .case .caseBlock p {
  font-size: 1.3333rem;
  line-height: 1.3333rem;
  padding-bottom: 0.75rem;
}

.main .case .caseBlock span {
  display: block;
  font-size: 0.8889rem;
  width: 16.3333rem;
  max-height: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  line-height: 1.3;
}

.main .case .caseLeft {
  position: relative;
  padding-top: 1.4815rem;
  padding-left: 1.1111rem;
}

.main .case .caseLeft img {
  position: absolute;
  right: 0.7407rem;
  top: 0.7407rem;
}

.main .case .caseRight {
  position: relative;
  margin: 1.8889rem 0;
}

.main .case .caseRight p {
  position: absolute;
  left: 50%;
  padding-left: 1.2963rem;
  padding-top: 1.4815rem;
}

.main .case .caseRight span {
  position: absolute;
  left: 50%;
  padding-left: 1.2963rem;
  padding-top: 3.4444rem;
}

.main .case .caseRight img {
  position: absolute;
  right: 50%;
  top: 0.7407rem;
}

.main .about {
  margin: 0 auto;
  width: 37.4815rem;
}

.main .about :nth-child(2) {
  height: 23.037rem;
  width: 37.4815rem;
}

.main .about :nth-child(2) img {
  width: 37.4815rem;
  height: 100%;
}

.main .about :nth-child(3) {
  margin: 1.5926rem auto 1.85rem;
  font-size: 1.1852rem;
  text-align: justify;
  text-justify: inter-ideograph;
  letter-spacing: 0rem;
  line-height: 1.8;
  color: #d0edff;
}

.main .about div:nth-child(4) {
  border-top: 0.037rem solid #ffffff;
  font-size: 1.1111rem;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
}

.main .about div:nth-child(4) span {
  color: #f8c300;
  font-weight: 900;
}

.main .new {
  margin: 0 auto;
  width: 37.4815rem;
}

.main .new div:first-child {
  height: 7.5556rem;
  box-sizing: border-box;
}

.main .new div:first-child p {
  font-size: 1.3333rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2.3704rem;
  position: relative;
}

.main .new div:first-child p::after {
  content: '';
  display: block;
  position: absolute;
  width: 2.9259rem;
  height: 0.2963rem;
  left: 17.2963rem;
  bottom: 2.0741rem;
  background-color: #f8c301;
}

.main .new div:last-child {
  border-top: 0.037rem solid #929292;
  font-size: 1.1111rem;
  text-align: center;
  line-height: 4.1852rem;
}

.main .enterprise {
  height: 25.4815rem;
}
