@charset "UTF-8";
html {
  font-size: 2.5vw;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.5926rem;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.head {
  height: 6rem;
  background-color: #041e41;
  position: relative;
}

.head .logo {
  position: absolute;
  top: 1.1111rem;
  left: 2.1111rem;
}

.head .logo img {
  height: 3.7407rem;
}

.head .phone {
  position: absolute;
  top: 1.8148rem;
  right: 1.6296rem;
  color: #fff;
  font-size: 0.7778rem;
}

.head .phone img {
  height: 2.2963rem;
  display: block;
  float: left;
}

.head .phone span {
  display: block;
  float: right;
  margin-left: 0.7407rem;
  margin-top: 0.1111rem;
}

.Nav {
  height: 3rem;
  width: 100%;
  background-color: #f8c301;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 1.4815rem;
}

.Nav li {
  font-size: 1.1111rem;
  width: 4.8148rem;
  height: 1.9259rem;
  text-align: center;
  line-height: 1.9259rem;
  cursor: pointer;
}

.Nav a {
  color: #929292;
}

.Nav li:hover {
  background-color: rgba(4, 30, 65, 0.9);
}

.Nav li:hover a {
  color: #fff;
}

.Nav .activity {
  background-color: rgba(4, 30, 65, 0.9);
}

.Nav .activity a {
  color: #fff;
}

.main .banner {
  height: 29.7407rem;
  background-color: #041e41;
}

.main .modular {
  height: 11.5926rem;
  background-color: #efefef;
  height: 10.7037rem;
  background-color: #fff;
  padding: 0 1.3333rem;
}

.main .modular div {
  padding-left: 0.0741rem;
  height: 3.963rem;
  line-height: 3.963rem;
}

.main .modular div :first-child {
  font-size: 1rem;
  font-weight: 600;
  color: #f8c301;
}

.main .modular div :last-child {
  font-size: 0.9259rem;
  color: #595757;
}

.main .modular ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.0741rem;
  text-align: center;
  line-height: 5.0741rem;
}

.main .modular ul li {
  width: 12.1481rem;
  height: 5.0741rem;
  background-color: #efefef;
  border-radius: 0.1852rem;
}

.main .interval {
  height: 0.8889rem;
  background-color: #efefef;
}

.main .product {
  margin: 0 auto;
  width: 37.4815rem;
  height: 55.7778rem;
}

.main .product :first-child {
  height: 6.2963rem;
  box-sizing: border-box;
}

.main .product :first-child p {
  font-size: 1.3333rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2.0741rem;
  position: relative;
}

.main .product :first-child p::after {
  content: '';
  display: block;
  position: absolute;
  width: 2.9259rem;
  height: 0.2963rem;
  left: 17.2963rem;
  bottom: 1.5926rem;
  background-color: #f8c301;
}

.main .product :nth-child(2) {
  margin: 0 auto;
  width: 37.4815rem;
  height: 14.3333rem;
  background-color: #666;
  position: relative;
}

.main .product :nth-child(2)::before {
  content: '全自动是全自动是全自动是';
  display: block;
  position: absolute;
  bottom: 0.5926rem;
  right: 0;
  padding-right: 1.963rem;
  font-size: 1.1111rem;
  font-weight: 500;
  color: #fff;
  z-index: 10;
}

.main .product :nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2.4815rem;
  background-color: rgba(248, 195, 1, 0.5);
  bottom: 0;
  font-size: 1.1111rem;
  z-index: 8;
}

.main .product :nth-child(3) {
  margin: 0 auto;
  width: 37.4815rem;
  height: 15rem;
  background-color: white;
  position: relative;
  border-bottom: 0.1852rem solid #929292;
}

.main .product :nth-child(4) {
  width: 37.4815rem;
  height: 20.1481rem;
}

.main .case {
  margin: 0 auto;
  width: 37.4815rem;
  height: 58.3704rem;
}

.main .case :first-child {
  height: 7.5556rem;
  box-sizing: border-box;
}

.main .case :first-child p {
  font-size: 1.3333rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2.3704rem;
  position: relative;
}

.main .case :first-child p::after {
  content: '';
  display: block;
  position: absolute;
  width: 2.9259rem;
  height: 0.2963rem;
  left: 17.2963rem;
  bottom: 2.0741rem;
  background-color: #f8c301;
}

.main .case :nth-child(2) {
  height: 14.0741rem;
}

.main .case :nth-child(3) {
  height: 14.0741rem;
  margin: 1.7407rem 0;
}

.main .case :nth-child(4) {
  height: 14.0741rem;
}

.main .about {
  margin: 0 auto;
  width: 37.4815rem;
}

.main .about :first-child {
  height: 7.5556rem;
  box-sizing: border-box;
}

.main .about :first-child p {
  font-size: 1.3333rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2.3704rem;
  position: relative;
}

.main .about :first-child p::after {
  content: '';
  display: block;
  position: absolute;
  width: 2.9259rem;
  height: 0.2963rem;
  left: 17.2963rem;
  bottom: 2.0741rem;
  background-color: #f8c301;
}

.main .about :nth-child(2) {
  height: 23.037rem;
}

.main .about :nth-child(3) {
  margin: 1.5926rem 0.2593rem 0.5926rem;
  font-size: 1.1852rem;
}

.main .about :nth-child(4) {
  border-top: 0.037rem solid #929292;
  font-size: 1.1111rem;
  text-align: center;
  line-height: 4.1852rem;
}

.main .new {
  margin: 0 auto;
  width: 37.4815rem;
}

.main .new div:first-child {
  height: 7.5556rem;
  box-sizing: border-box;
}

.main .new div:first-child p {
  font-size: 1.3333rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2.3704rem;
  position: relative;
}

.main .new div:first-child p::after {
  content: '';
  display: block;
  position: absolute;
  width: 2.9259rem;
  height: 0.2963rem;
  left: 17.2963rem;
  bottom: 2.0741rem;
  background-color: #f8c301;
}

.main .new div:last-child {
  border-top: 0.037rem solid #929292;
  font-size: 1.1111rem;
  text-align: center;
  line-height: 4.1852rem;
}

.main .enterprise {
  height: 25.4815rem;
}

.foot {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0rem;
  z-index: 20;
  float: left;
  width: 100%;
  background-color: white;
  font-size: 1.2963rem;
  font-weight: 600;
  text-align: center;
  line-height: 5rem;
}

.foot div:first-child {
  width: 19.963rem;
  height: 5rem;
  background-color: #44b242;
  color: white;
}

.foot div:last-child {
  width: 19.963rem;
  height: 5rem;
  background-color: #44b242;
  color: white;
  position: fixed;
  right: 0;
}
