@import 'reset.scss';
@import '_globals.scss';

.head {
  height: 6rem;
  background-color: $clSkyBlue; //背景
  position: relative; //定位
  .logo {
    position: absolute; //脱离文档流
    top: 1.0741rem;
    left: 2.4074rem;
    img {
      width: 16.1852rem;
    }
  }

  .phone {
    position: absolute; //脱离文档流
    top: 3.4074rem;
    right: 1.5926rem;
    color: $clDarkBlue;
    img {
      height: 1.7037rem;
      display: block;
      float: left;
    }
    span {
      display: block;
      float: right;
      margin-left: 0.8889rem;
      margin-top: 0rem;
      div:first-child {
        font-size: $font24;
        line-height: $font24;
        font-weight: 900; //字体粗细
        letter-spacing: 0.0407rem; //字体间距
      }
      div:last-child {
        margin-top: 0.037rem;
        font-size: $font21;
        line-height: $font21;
        font-weight: 700; //字体粗细
        letter-spacing: 0rem; //字体间距
      }
    }
  }
}

.Nav {
  position: relative; //定位
  height: 3rem;
  background-color: $clDarkBlue;
  display: flex; //弹性盒
  justify-content: space-between; //水平排列 周围留有空白
  align-items: flex-end; //纵向居中
  box-sizing: border-box; //盒模型边框
  margin: 0 3.3333rem; //左边距
  padding-bottom: 0.8889rem; //下边距对齐
  li {
    font-size: $font28;
    line-height: $font28;
    cursor: pointer; //鼠标样式
    a {
      color: $clWhite;
    }
  }
  .activity {
    //活动样式
    a {
      font-size: $font38;
      line-height: $font38;
      color: $clOrange;
      position: relative;
      &::after {
        position: absolute;
        //插入三角形
        content: '';
        width: 0rem;
        height: 0rem;
        border: 0.463rem solid transparent;
        border-bottom: 0.3704rem solid $clOrange;
        //三角形确定位置
        bottom: -0.2593rem; //箭头下调
        left: 50%; //箭头居中
        margin-left: -0.463rem; //箭头居中
      }
    }
  }
}

.main {
  //banner
  .banner {
    position: relative;
    height: 29.7407rem;
    background: url('../img/product/banner.png') no-repeat;
    background-size: 40rem 29.7407rem;
    .H1 {
      box-sizing: border-box; //盒模型边框
      padding-top: 4.1481rem; //上边距
      margin: 0 auto; //居中
      text-align: center; //居中
      width: 33.5185rem;
      color: $clWhite;
      font-size: $font43;
      line-height: 2.037rem;
      font-weight: 900;
      letter-spacing: 0rem; //字体间距
      text-align: center;
    }

    .H2 {
      position: relative;
      box-sizing: border-box; //盒模型边框
      padding-top: 1.6667rem; //上边距
      margin: 0 auto; //居中
      text-align: center;
      color: $clWhite;
      font-size: $font28;
      line-height: $font28;
      font-weight: 500;
      z-index: 5;
      &::before {
        position: absolute;
        content: '';
        left: 50%;
        bottom: 0;
        margin-left: -12.481rem;
        margin-bottom: -14px;
        width: 24.962rem;
        height: 2.074rem;
        border-radius: 0.6667rem;
        background-color: $clBlue;
        z-index: -1;
      }
    }

    .exhibition {
      box-sizing: border-box; //盒模型边框
      display: flex;
      justify-content: space-between;
      margin: 0 auto; //居中
      text-align: center;
      padding: 2.5925rem 2.037rem 0; //上边距
      img {
        width: 8.1852rem;
      }
    }
  }
  //模块
  .modular {
    height: 10.7037rem;
    box-sizing: border-box; //盒模型边框
    padding: 0 1.4074rem;
    div {
      height: 3.963rem;
      line-height: 3.963rem;
      span:nth-child(1) {
        //div下面的第一个子所有类型元素  先找第1个，再找是不是span
        font-size: $font30;
        font-weight: $fontW500;
        color: $clOrange;
      }
      span:nth-of-type(2) {
        //div下面的span元素中的第二个子元素  先找span，再找第2个
        font-size: $font28;
        font-weight: 100;
        color: $clWhite;
      }
    }
    ul {
      display: flex;
      justify-content: space-between; //水平排列
      align-items: center; //纵向居中
      cursor: pointer; //鼠标样式
      li {
        position: relative;
        width: 12rem; //324px
        // width: 12.1852rem; //原图大小  329px
        height: 5.0741rem;
        border-radius: 0.2963rem;
        background-color: rgba(239, 239, 239, 1);
        img {
          position: absolute;
          width: 2.2222rem;
          top: 0;
          left: 50%;
          margin-top: 0.5556rem;
          margin-left: -1.1111rem;
        }
        span {
          color: $clBlue;
          font-size: $font30;
          line-height: $font30;
          position: absolute;
          width: 9rem;
          text-align: center;
          bottom: 0;
          left: 50%;
          margin-bottom: 0.6667rem;
          margin-left: -4.5rem;
        }
      }
      .activity {
        //活动样式
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: -6rem;
          -webkit-filter: drop-shadow(0 6rem 0rem $clOrange);
          // Chrome, Safari, Opera
          filter: drop-shadow(0 6rem 0rem $clOrange);
        }
        span {
          color: $clOrange;
        }
      }
    }
  }
  //间隔
  .interval {
    //间隔
    height: 0.8889rem;
    background-color: $clOrange;
  }
  .intS {
    margin-top: 2.963rem;
  }

  //处理标题
  .mod {
    & > div:nth-child(1) {
      box-sizing: border-box; //盒模型边框
      height: 6.6667rem;
      text-align: center;
      font-size: $font36;
      font-weight: 700;
      padding-top: 2.3704rem;
      position: relative;
      color: $clWhite;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 3.704rem;
        height: 0.2963rem;
        left: 50%;
        margin-left: -1.852rem;
        bottom: 0;
        margin-bottom: 1.7407rem;
        background-color: rgba(248, 195, 1, 1);
      }
    }
  }
  //推荐产品
  .product {
    // banner
    .bannerX {
      box-sizing: border-box; //盒模型边框
      margin: 0 auto;
      width: 37.4815rem; //width: 1012px;
      height: 15.4444rem; //height: 417px;
      background-color: $clSkyBlue;
      position: relative;
      //左箭头
      img:nth-child(1) {
        position: absolute;
        top: 50%;
        left: 0.5556rem; //15px;
        width: 1.4815rem; //40px
        margin-top: -0.7407rem;
      }
      //右箭头
      img:nth-child(2) {
        position: absolute;
        top: 50%;
        right: 0.5556rem; //15px;
        width: 1.4815rem; //40px
        margin-top: -0.7407rem;
      }
      //产品图
      img:nth-child(3) {
        position: absolute;
        left: 50%;
        margin-left: -13.5rem;
        top: 0.2593rem;
        width: 25.5926rem; //691px
      }
      //型号标语
      span {
        position: absolute;
        bottom: 0.4815rem;
        z-index: 15;
        font-size: $font32;
        line-height: $font32;
        color: $clBlue;
        text-align: center;
        width: 100%;
        font-weight: 600;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 57px;
        background-color: $clOrange;
        opacity: 0.9;
        z-index: 10;
      }
    }
    //第三个ul
    ul:nth-child(3) {
      margin: 0 auto;
      // box-sizing: border-box; //盒模型边框
      display: flex;
      justify-content: space-between;
      width: 33.3333rem;
      padding: 2.1481rem 3.3333rem 0;
      font-size: $font30;
      color: $clSkyBlue;
      img {
        width: 2.4444rem;
        margin-bottom: 0.6667rem;
      }
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    //第四个子项
    div:nth-child(4) {
      margin: 0 auto;
      font-size: $font30;
      color: $clWhite;
      text-align: justify; //强制对齐-英文
      text-justify: inter-ideograph; //强制对齐-中文
      margin-top: 1.8rem;
      width: 35.5556rem;
      line-height: 1.6;
      letter-spacing: -0.0185rem; //字体间距
      padding-bottom: 1.4rem;
      position: relative;
    }
    //第五个子项
    div:nth-child(5) {
      position: relative;
      margin: 0 auto;
      padding: 1.5556rem 0 0rem; //42px 0 80px  2.963rem
      width: 37.8148rem; //1021px
      display: flex;
      justify-content: space-between;
      //模块
      div {
        width: 17.963rem; //485
        height: 13.7037rem; //370
        background-color: $clOrange;
        position: relative;
        text-align: center;
        //文字
        span {
          color: $clBlue;
          font-weight: 600;
          font-size: $font32;
          line-height: $font32;
          position: relative;
          bottom: -0.2593rem;
        }
        //图片处理
        img {
          width: 17.963rem; //485
        }
      }
      //横线
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.1852rem;
        background-color: $clOrange;
      }
    }
  }
  //经典案例
  .case {
    //经典案例
    margin: 0 auto;
    width: 37.4815rem; //width: 1012px;
    // height: 58.3704rem;
    color: $clBlue;

    .caseBlock {
      box-sizing: border-box;
      //共有属性
      width: 100%; //1012px
      height: 14.0741rem; //380px
      background-color: $clWhite;
      text-align: justify; //强制对齐-英文
      text-justify: inter-ideograph; //强制对齐-中文
      letter-spacing: -0.0222rem; //字体间距
      img {
        width: 18rem;
        height: 12.5926rem;
      }
      p {
        font-size: $font36;
        line-height: $font36;
        padding-bottom: 0.75rem;
      }
      span {
        display: block;
        font-size: $font24;
        // line-height: $font24;
        width: 16.3333rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        line-height: 1.3;
        overflow: hidden;
      }
    }
    .caseLeft {
      //左
      position: relative;
      padding-top: 1.4815rem;
      padding-left: 1.1111rem;
      img {
        position: absolute;
        right: 0.7407rem; //20px
        top: 0.7407rem; //20px
      }
    }
    .caseRight {
      //右
      position: relative;
      margin: 1.8889rem 0;
      // padding-top: 1.4815rem;
      // padding-left: 1.1111rem;

      p {
        position: absolute;
        left: 50%;
        padding-left: 1.2963rem;
        padding-top: 1.4815rem;
      }
      span {
        position: absolute;
        left: 50%;
        padding-left: 1.2963rem;
        padding-top: 3.4444rem;
      }
      img {
        position: absolute;
        right: 50%; //20px
        top: 0.7407rem; //20px
      }
    }
  }
  //关于我们
  .about {
    //关于我们
    // height: 52.8148rem;
    margin: 0 auto;
    width: 37.4815rem; //width: 1012px;
    //视频样式
    :nth-child(2) {
      height: 23.037rem;
      width: 37.4815rem;
      img {
        width: 37.4815rem;
        height: 100%;
      }
    }
    //视频介绍样式
    :nth-child(3) {
      margin: 1.5926rem auto 1.85rem; //43px   58px
      font-size: 1.1852rem;
      // background-color: $clWhite;
      text-align: justify; //强制对齐-英文
      text-justify: inter-ideograph; //强制对齐-中文
      letter-spacing: 0rem; //字体间距
      line-height: 1.8;
      color: $clSkyBlue;
    }
    //更多
    div:nth-child(4) {
      border-top: 0.037rem solid $clWhite;
      font-size: $font30;
      text-align: center;
      line-height: 4rem;
      color: $clWhite;
      span {
        color: $clOrange;
      }
    }
  }
  //新闻中心
  .new {
    //新闻中心
    // height: 52.8148rem;
    margin: 0 auto;
    width: 37.4815rem; //width: 1012px;
    div:first-child {
      height: 7.5556rem;
      box-sizing: border-box; //盒模型边框

      p {
        font-size: 1.3333rem;
        font-weight: 600;
        text-align: center;
        padding-top: 2.3704rem;
        position: relative;
      }
      p::after {
        content: '';
        display: block;
        position: absolute;
        width: 2.9259rem;
        height: 0.2963rem;
        left: 17.2963rem;
        bottom: 2.0741rem;
        background-color: rgba(248, 195, 1, 1);
      }
    }
    div:last-child {
      border-top: 0.037rem solid #929292;
      font-size: 1.1111rem;
      text-align: center;
      line-height: 4.1852rem;
    }
  }
  //企业优势
  .enterprise {
    //企业优势
    height: 25.4815rem;
  }
}
