html {
  font-size: 2.5vw;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #002b45;
  box-sizing: border-box;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
html ::-webkit-scrollbar {
  display: none;
}
body {
  font-size: 0.5926rem;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
:link,
:visited,
:hover,
:active {
  text-decoration: none;
}
p,
span,
div {
  margin: 0;
  padding: 0;
}
