html {
  //初始化样式
  font-size: 2.5vw; //设置根大小 27px=1rem
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  //初始化样式
  font-size: 16px;
  margin: 0;
  padding: 0;
}
ul {
  //初始化样式
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  //初始化样式
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
