@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin: 0;padding: 0}

body {
    font-family: "Microsoft Yahei","PingFang SC",sans-serif,sans-serif,"Heiti SC","Helvetica Neue","Helvetica","Arial";
    -webkit-text-size-adjust: none;
    background-color: #fff;
    font-size: 0.28rem;
    color: #828282;
    line-height: 0.48rem;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    line-height: 1.25;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline-width: 0;
    color: inherit;
}



em, b, i, code, strong {
    font-style: normal;
}

img {
    border: 0;
    vertical-align: top;
}

ol, ul, li {
    list-style: none
}

.clearfix:after,
.clf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '.';
    clear: both;
    height: 0
}
.clearfix, .clf {
    zoom: 1;
}
button, input, textarea,select {
    border: none;
    outline: none;
    border-radius: 0;
    box-sizing: content-box;
    border: 0;
    font-size: 0.28rem;
    color: #828282;
    line-height: 0.48rem;
    font-family: "Microsoft Yahei","PingFang SC",sans-serif,sans-serif,"Heiti SC","Helvetica Neue","Helvetica","Arial";
}
textarea{
    resize: none;
}

table{
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}