.content {
    padding: 0 0.3rem;
}
.bd-title {
    font-size: 0.4rem;
    line-height: 0.48rem;
    color: #222;
    text-align: center;
}
.bd-lx {
    margin-top: 0.4rem;
}
.bd-lx img {
    width: 6.9rem;
}
.bd-head {
    padding: 0.6rem 0;
    background: #F6F6F6;
}
.bd-tit {
    float: left;
    font-size: 0.28rem;
    color: #999;
    width: 1.4rem;
    line-height: 0.9rem;
}
.bd-com {
    margin-top: 0.4rem;
}
.bd-inp {
    width: 5.5rem;
    float: left;
}
.bd-inp input {
    width: 5.48rem;
    height: 0.9rem;
    background:rgba(248,248,248,1);
    border: 0.01rem solid rgba(234,234,234,1);
    text-indent: 0.2rem;
    font-size: 0.28rem;
    color: #666;
}
.bd-cls {
    margin-top: 0.3rem;
}
.bd-row {
    padding-top: 0.1rem;
}
.bd-taa {
    width: 5.5rem;
    float: left;
}
.bd-taa textarea {
    width: 5.08rem;
    height: 2.2rem;
    background:rgba(248,248,248,1);
    border: 0.01rem solid rgba(234,234,234,1);
    padding: 0.2rem;
}
.bd-tea {
    margin-top: 0.3rem;
}
.bd-inp input::placeholder {
    color: #BFBFBF;
}
.bd-taa textarea::placeholder {
    color: #BFBFBF;
}
.bd-but {
    margin-top: 0.25rem;
}
.bd-inp input:focus, .bd-taa textarea:focus {
    background-color: #fff;
    border-color: #1d2088;
}
.bd-but button {
    width: 6.9rem;
    height: 0.96rem;
    background:rgba(224,59,59,1);
    border-radius:4px;
    color: #fff;
    font-size: 0.32rem;
}
.bde-cls {
    width: 6.9rem;
    height: 2.7rem;
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
    margin-top: 0.1rem;
}
.bd-cls .msg-box {
    font-size: 0.28rem;
    color: #e03b3b;
    line-height: 0.32rem;
}
.je1 {
    background: url("../image/m-jq1.png") no-repeat center;
    background-size: cover;
}
.je2 {
    background: url("../image/m-jq2.png") no-repeat center;
    background-size: cover;
}
.je3 {
    background: url("../image/m-jq3.png") no-repeat center;
    background-size: cover;
}
.bde-cls span {
    display: inline-block;
    padding-top: 1.8rem;
}
.bde-main {
    padding-top: 0.2rem;
    padding-bottom: 0.6rem;
}
.bde {
    padding: 0.5rem 0;
}
.px-img img {
    width: 6.9rem;
}
.px-cont {
    background: #F6F6F6;
    padding: 0.3rem;
}
.px-tit {
    text-align: center;
    font-size: 0.36rem;
    color: #222;
}
.px-cos {
    margin-top: 0.1rem;
}
.px-cos li {
    font-size: 0.28rem;
    line-height: 0.6rem;
    color: #666;
}
.px-cls {
    margin-top: 0.2rem;
}
.cxh-img {
    margin-top: 0.4rem;
}
.cxh-img img {
    width: 6.9rem;
}
.cx-had {
    padding: 0.5rem 0;
}
.wls-t {
    font-size: 0.36rem;
    color: #222;
    font-weight: bold;
}
.kz .wls-ls {
    float: left;
    margin-left: 1.2rem;
}
.kz .wls-ls:nth-of-type(2n-1) {
    margin-left: 0;
}
.wls-me {
    font-size: 0.28rem;
    color: #999;
}
.wls-re {
    font-size: 0.32rem;
    color: #1D2088;
}
.wls-ls {
    margin-top: 0.22rem;
}
.wl-ta {
    background: #f6f6f6;
    padding: 0.3rem 0.3rem 1rem;
    position: relative;
}
.wlTa-cls {
    background: #fff;
    padding: 0.3rem;
    margin-top: 0.1rem;
}
.wlTa-cls:first-child {
    margin-top: 0;
}
.wlTa-tle {
    font-size: 0.28rem;
    color: #666;
    line-height: 0.42rem;
    font-weight: bold;
}
.wlTa-cls li {
    font-size: 0.28rem;
    color: #666;
    line-height: 0.42rem;
    margin-top: 0.16rem;
}
.wl-all {
    height: 9.2rem;
    overflow: hidden;
}
.wl-acv {
    font-size: 0.28rem;
    line-height: 0.42rem;
    color: #1D2088;
    position: absolute;
    bottom: 0.3rem;
    left: 3.02rem;
}
.wl-all.clicking{
    height: auto;
}
.wl-acv.slidedown span{
    transform: rotate(180deg);
}
.wl-acv span {
    display: inline-block;
    width: 0.19rem;
    height: 0.12rem;
    background: url("../image/m-zk.png") no-repeat center;
    background-size: cover;
    margin-left: 0.1rem;
    transition: 0.36s;
}
.qd-als {
    background: #F6F6F6;
    padding: 0.5rem 0;
}
.qdAls-cls {
    width: 3.4rem;
    height: 3.1rem;
    float: left;
    text-align: center;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    background: url("../image/m-bai.png") no-repeat center;
    background-size: cover;
}
.qdAls-top {
    margin-top: 0.4rem;
}
.qdAls-top img {
    width: 1.08rem;
    height: 1.08rem;
}
.qdAls-cls:nth-child(odd) {
    margin-left: 0;
}
.qdAls-tix {
    padding: 0 0.3rem;
    font-size: 0.28rem;
    line-height: 0.48rem;
    color: #222;
    margin-top: 0.28rem;
}
.qdAls-main {
    padding-top: 0.2rem;
}
.zhi-tex {
    font-size: 0.28rem;
    color: #828282;
    line-height: 0.48rem;
    margin-top: 0.24rem;
}
.znn-head {
    padding: 0.5rem 0;
}
.zhn-cls {
    width: 6.9rem;
    height: 4rem;
    text-align: center;
    margin-top: 0.2rem;
}
.xq1 {
    background: url("../image/m-zhi1.jpg") no-repeat center top;
    background-size: cover;
}
.xq2 {
    background: url("../image/m-zhi2.jpg") no-repeat center top;
    background-size: cover;
}
.zhn-tle {
    color: #fff;
    padding: 1rem 0.96rem 0;
    line-height: 0.52rem;
    font-size: 0.28rem;
}
.zhn-post a {
    width: 4rem;
    height: 0.8rem;
    display: inline-block;
    background: #1D2088;
    font-size: 0.28rem;
    color: #fff;
    line-height: 0.8rem;
    margin-top: 0.26rem;
}
.zhn-main {
    padding-top: 0.1rem;
}
.hzd {
    width: 7.5rem;
    height: 9.58rem;
    padding: 0.01rem;
    background: url("../image/m-zhi3.jpg") no-repeat center top;
    background-size: cover;
}
.hzd-main {
    background:rgba(34,33,139,0.83);
    margin-top: 2.58rem;
    text-align: center;
    padding-bottom: 1rem;
}
.hzd-tle {
    color: #fff;
    font-size: 0.4rem;
    line-height: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.15rem;
}
.hzd-tex {
    padding: 0 0.7rem;
    color: #fff;
    font-size: 0.28rem;
    line-height: 0.48rem;
    margin-top: 0.22rem;
  		text-align: left;
}
.hzd-post a {
    width: 4rem;
    height: 0.8rem;
    font-size: 0.28rem;
    color: #22218B;
    background: #fff;
    display: inline-block;
    line-height: 0.8rem;
    border-radius: 0.04rem;
    margin-top: 0.7rem;
}
.fel {
    padding: 0.5rem 0;
}
.fel-tle {
     
    width: 6.9rem;
    height: 1.2rem;
    font-size: 0.36rem;
    color: #fff;
    font-weight: bold;
    background: #4A4DA3;
    line-height: 1.2rem;
    box-sizing: border-box;
    padding: 0 0.4rem;
}
.fel-tle span {
    width: 0.2rem;
    height: 1.2rem;
    
    float: right;
    background: url(../image/xingbiao.png) no-repeat center;
    background-size: 0.2rem auto;
    margin-left: 0.24rem;
    transition: 0.36s;
}
.fel-cont {
    background:rgba(246,246,246,1);
    padding: 0.3rem 0.62rem;
    font-size: 0.28rem;
    line-height: 0.52rem;
    color: #828282;
}
.fel-item {
    margin-top: 0.04rem;
}
.fel-nav {
    padding-top: 0.2rem;
}
.pd-service .icon8 {
    background: #fff url(../image/m-pro-servicon31.png) no-repeat center center;
    background-size: cover;
}
.pd-service .icon9 {
    background: #fff url(../image/m-pro-servicon31.png) no-repeat center center;
    background-size: cover;
}
.wl-ta {
    margin-top: 0.4rem;
}